.parent { 
    border: 5px solid lightcoral; 
}

.item{
    /*height: 50px;*/
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height:50px;
    font-weight: 600;
}

/**** flex stuff ****/

 .parent{
     height: 200px;
     display: flex;
     /*flex-direction: column; /*row; /*row-reverse column column-reverse*/
     /*flex-wrap: wrap; /*nowrap wrap-reverse*/
     /*justify-content: space-around; /*center; /*flex-start flex-end space-between space-around*/
     /*align-items: baseline; /*flex-start flex-end center stretch baseline*/
     /*align-content: space-around; /*space-between stretch; /*center flex-start flex-end */
 }

 .item{
     width: 20%;
 }

 

 

 
    