#box_1 { 
	position: static;
	width: 200px;
	height: 200px;
	background: red;
}

#box_2 { 
	position: static;
	width: 200px;
	height: 200px;
	background: green;
}

#box_3 { 
	position: static;
	width: 200px;
	height: 200px;
	background: blue;
}